body {
  font-family: "Roboto", sans-serif;
  font-size: 12px; }

.tg-thermometer {
  width: 100px;
  position: relative; }
  .tg-thermometer.small .meter {
    width: 6px; }
    .tg-thermometer.small .meter .mask {
      width: 6px; }
  .tg-thermometer.small .draw-a {
    width: 20px; }
    .tg-thermometer.small .draw-a:after {
      width: 32px;
      height: 32px;
      left: -6px;
      bottom: -10px; }
  .tg-thermometer.small .draw-b:before {
    width: 6px; }
  .tg-thermometer.small .draw-b:after {
    width: 14px;
    height: 14px; }
  .tg-thermometer.small .percent-b, .tg-thermometer.small .percent-d {
    display: none; }
  .tg-thermometer .statistics {
    position: absolute;
    left: 0;
    z-index: 1;
    font-size: 1em;
    top: 0;
    height: 100%;
    font-style: italic;
    font-weight: 500;
    text-shadow: 1px 1px #fff; }
    .tg-thermometer .statistics .percent {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      text-align: right;
      position: absolute; }
  .tg-thermometer .meter {
    width: 10px;
    margin: auto;
    left: 0;
    right: 0;
    height: calc(100% - 58px);
    top: 12px;
    position: absolute;
    background-color: #d6d6d6;
    border-radius: 10px 10px 0 0;
    z-index: 1; }
    .tg-thermometer .meter .mercury {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #f44336;
      border-radius: 10px 10px 0 0;
      background: linear-gradient(0deg, #f44336, #3f51b5);
      transition: all .5s ease-in-out;
      height: 0; }
    .tg-thermometer .meter .mask {
      position: absolute;
      bottom: 0;
      overflow: hidden;
      width: 10px;
      height: 100%;
      border-radius: 10px 10px 0 0; }
    .tg-thermometer .meter .bg-color {
      position: absolute;
      width: 10px;
      background: linear-gradient(#2196F3, #8BC34A, #F44336);
      bottom: 0; }
    .tg-thermometer .meter .percent-current {
      position: absolute;
      left: 0;
      top: 4px;
      transform: translateX(calc(-100% - 8px)) translateY(-50%);
      background-color: #fff;
      padding: 5px 10px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 3px 3px 6px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      font-weight: 500;
      font-size: 1.5em;
      color: #333; }
      .tg-thermometer .meter .percent-current:after {
        border-left: 8px solid white;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        content: "";
        position: absolute;
        right: 0;
        transform: translateX(calc(100% - 2px));
        top: 0;
        bottom: 0;
        margin: auto;
        width: 0;
        height: 0; }
      .tg-thermometer .meter .percent-current:before {
        border-left: 7px solid rgba(0, 0, 0, 0.2);
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        content: "";
        position: absolute;
        right: 0;
        transform: translateX(calc(100% - 0px));
        top: 0;
        bottom: 0;
        margin: auto;
        width: 0;
        height: 0; }
  .tg-thermometer .draw-a {
    background-color: #fff;
    height: calc(100% - 20px);
    width: 30px;
    margin: auto;
    position: relative;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 1px 1px 5px rgba(0, 0, 0, 0.2); }
    .tg-thermometer .draw-a:before {
      width: 100%;
      bottom: 0px;
      left: 0;
      position: absolute;
      height: 50px;
      background-color: #fff;
      content: "";
      z-index: 1; }
    .tg-thermometer .draw-a:after {
      content: "";
      width: 50px;
      height: 50px;
      position: absolute;
      background-color: #fff;
      left: -10px;
      bottom: -20px;
      border-radius: 50%;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 1px 1px 5px rgba(0, 0, 0, 0.2); }
  .tg-thermometer .draw-b {
    position: absolute;
    width: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    z-index: 1; }
    .tg-thermometer .draw-b:after {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 24px;
      height: 24px;
      background-color: #f44336;
      content: "";
      border-radius: 50%; }
    .tg-thermometer .draw-b:before {
      position: absolute;
      left: 0;
      right: 0;
      width: 10px;
      top: 0;
      margin: auto;
      height: 20px;
      background-color: #f44336;
      content: "";
      border-radius: 10px 10px 0 0; }

.centered {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.title {
  text-align: center;
  margin: 60px 0 0; }
  .title .upper {
    text-transform: uppercase; }
  .title a {
    text-decoration: none;
    color: #3F51B5; }

/**/
html, body {
  width: 100%;
  height: 100%; }

.flexbox-order-1 {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1; }

.flexbox-order-2 {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2; }

.flexbox-order-3 {
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3; }

.flexbox-order-4 {
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4; }

.flexbox-flex-display {
  /* display: flex */
  display: -webkit-box;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  /* ------ */ }

.flexbox-main-wrapper {
  height: 100%; }

.flexbox-fixed {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0; }

.flexbox-container-column, nav, article, section {
  /* display: flex */
  display: -webkit-box;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  /* ------ */
  /* flexbox-direction-columns */
  /* flex-direction */
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  /* ------ */
  /* flex-wrap */
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  /* ------ */
  /* end flexbox-direction-columns */
  /* flex-wrap */
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  /* ------ */
  min-height: 0px; }

.flexbox-scrolling-column {
  overflow-y: auto;
  overflow-x: hidden; }

.flexbox-container-row, .wrapper, nav .navbar-brand, .photo-text p {
  /* display: flex */
  display: -webkit-box;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  /* ------ */
  /* flexbox-direction-rows */
  /* flex-direction */
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  /* ------ */
  /* flex-wrap */
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  /* ------ */
  /* end flexbox-direction-rows */
  /* flex-grow */
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  /* ------ */
  min-height: 0px; }

.flexbox-left-gutter,
.flexbox-right-gutter {
  /* flexbox-fixed-size-element*/
  /* flex-grow */
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  /* ------ */
  /* flex-shrink */
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  /* ------ */
  -webkit-flex-basis: 200px;
  -moz-flex-basis: 200px;
  -ms-flex-basis: 200px;
  flex-basis: 200px;
  /* end flexbox-fixed-size-element */ }

header, footer {
  /* flexbox-fixed-size-element*/
  /* flex-grow */
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  /* ------ */
  /* flex-shrink */
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  /* ------ */
  /* end flexbox-fixed-size-element */ }

.flexbox-content-fill-horizontal {
  /* display: flex */
  display: -webkit-box;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  /* ------ */
  /* flex-grow */
  -moz-flex-grow: 10;
  -webkit-flex-grow: 10;
  -ms-flex-grow: 10;
  flex-grow: 10;
  /* ------ */ }

.flexbox-content-fill-vertical {
  /* display: flex */
  display: -webkit-box;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  /* ------ */
  /* flex-grow */
  -moz-flex-grow: 10;
  -webkit-flex-grow: 10;
  -ms-flex-grow: 10;
  flex-grow: 10;
  /* ------ */ }

.flexbox-content-fixed-size {
  /* flexbox-fixed-size-element*/
  /* flex-grow */
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  /* ------ */
  /* flex-shrink */
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  /* ------ */
  /* end flexbox-fixed-size-element */ }

.flexbox-center-items, nav .navbar-brand {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center; }

.flexbox-left-center-right-items {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between; }

.flexbox-space-around-items {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around; }

.flexbox-left-justify-items {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start; }

.flexbox-right-justify-items {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end; }

.flexbox-shove-to-right-edge {
  margin-left: auto; }

.flexbox-basis-50 {
  -webkit-flex-basis: 50%;
  -moz-flex-basis: 50%;
  -ms-flex-basis: 50%;
  flex-basis: 50%; }

.flexbox-flex-wrap {
  /* flex-wrap */
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
  /* ------ */ }

.flexbox-hide-when-wrapped {
  height: 1em;
  max-height: 1em;
  /* flex-wrap */
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
  /* ------ */
  overflow: hidden; }

.flexbox-align-items-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Lora', 'Times New Roman', sans-serif;
  font-size: 20px;
  color: #333333;
  background-color: #99BE9C; }

/* APPEARANCE */
a {
  color: #333333;
  text-decoration: none; }
  a:hover, a:focus {
    color: #0085A1; }

.make-it-fast {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  /* Pre-render the bigger shadow, but hide it */
  /* Transition to showing the bigger shadow on hover */ }
  .make-it-fast::after {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out; }
  .make-it-fast:hover::after {
    opacity: 1; }

.glow-button:hover {
  color: white;
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4); }

.strikeout {
  text-decoration: line-through;
  font-size: 0.8em; }

/* NAV */
nav > div {
  flex-grow: 0 !important; }

nav {
  flex-grow: 0;
  max-width: 20%;
  font-size: 0.8em;
  background-color: #7aaa7e;
  padding: 0px 30px;
  border-right: solid black 1px;
  /**/ }
  nav > * {
    flex-grow: 0; }
  nav a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black; }
    nav a:hover {
      color: silver; }
  nav .navbar-brand {
    font-weight: 800;
    text-align: center; }
  nav .nav-buttons {
    display: block;
    margin: 10px 0px 10px 0px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    padding-top: 20px;
    padding-bottom: 20px; }
  nav form {
    margin-left: auto;
    margin-right: auto;
    width: 80%; }
  nav button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; }
  nav .paybutton a:hover {
    text-decoration: none; }
  nav .paybutton {
    -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6aa06f), color-stop(1, #5e9362));
    background: -moz-linear-gradient(top, #6aa06f 5%, #5e9362 100%);
    background: -webkit-linear-gradient(top, #6aa06f 5%, #5e9362 100%);
    background: -o-linear-gradient(top, #6aa06f 5%, #5e9362 100%);
    background: -ms-linear-gradient(top, #6aa06f 5%, #5e9362 100%);
    background: linear-gradient(to bottom, #6aa06f 5%, #5e9362 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$nav-button-background-color', endColorstr='$nav-button-background-color2',GradientType=0);
    background-color: #6aa06f;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc; }
  nav .paybutton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
    background: -moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background: -webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background: -o-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background: -ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
    background-color: #378de5; }
  nav .paybutton:active {
    position: relative;
    top: 1px; }
  nav .maf {
    font-size: 0.7em;
    margin: 20px;
    text-align: center; }
    nav .maf .maf-image {
      display: block;
      height: 40px;
      border: solid black 20px;
      background-image: url("../img/MorrisAnimal.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: black; }
    nav .maf a {
      margin-top: 10px; }

article, section {
  padding: 10px; }

section {
  flex-grow: 5; }

.payment {
  border: solid black 2px;
  border-radius: 15px;
  margin-right: 10px; }

.book-title {
  color: #69577F;
  font-family: 'Devonshire', cursive; }

.large-text {
  font-size: 4em; }

.photo-text {
  margin-left: 20%;
  margin-right: 20%; }
  .photo-text p .photo:nth-of-type(odd) img {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }
  .photo-text p.photo:nth-of-type(even) img {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }
  .photo-text p img {
    flex-basis: 20%;
    width: 20%;
    height: 20%;
    margin-right: 3%; }
  .photo-text p.photo.larger img {
    width: 40%;
    height: 40%; }

.thermo {
  font-size: 0.6em; }

/*




.main {
  @extend .flexbox-container-column;
}

// test

p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
blockquote {
  color: #777777;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}




.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-header .navbar-toggle {
  color: #777777;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
@media only screen and (min-width: $break-mobiledevice) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: $break-mobiledevice) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    // Force Hardware Acceleration in WebKit
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    // when the user scrolls down, we hide the header right above the viewport
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #333333;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085A1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #333333;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085A1;
  }
  .navbar-custom.is-visible {
    // if the user changes the scrolling direction, we show the header
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }


  .nav-buy-standalone {
    color: white;
  }

.navbar ul li.grls {
  font-size: 0.75em;
  width: 19em;
}


.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: $break-mobiledevice) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: $break-mobiledevice) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: $break-mobiledevice) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
.post-preview > a {
  color: #333333;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0085A1;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  color: #777777;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #333333;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0085A1;
  text-decoration: underline;
}
@media only screen and (min-width: $break-mobiledevice) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #0085A1;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #0085A1;
  border: 1px solid #0085A1;
  color: white;
}
.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #0085A1;
  border: 1px solid #0085A1;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777777;
  background-color: #333333;
  cursor: not-allowed;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085A1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085A1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #0085A1;
}


//////////////////
.page-treasure, .page-laurie, .page-about {
  font-size: 26px;
}

@media screen and (max-width: $break-mobiledevice) {
  .photo-text {
    margin-left: 5%;
    margin-right: 5%;
  }
}


.cover-image {
  img { height: 50%; width: 50%; }
}

$color-selected: teal;
.navbar {
  ul {
    list-style: none;
    margin-top: 30px;
    margin-left: 20px;
    -webkit-padding-before: 0;
    -webkit-padding-start:0;
    -webkit-margin-before:0;
    -webkit-margin-after: 0;
    width: 201px;

    li {
      color: white;
      font-weight: bold;
      padding: 5px 0px 5px 10px;

      a {
        color: white;
      }
    }
    li {
      //width: 10em;
    }
  }
  .page-home .navbar a.navbar-brand { }
  .page-treasure .navbar ul li:nth-of-type(1) { outline: solid $color-selected 1px;; }
  .page-laurie .navbar ul li:nth-of-type(2) { outline: solid $color-selected 1px; }
  .page-about .navbar ul li:nth-of-type(3) { outline: solid $color-selected 1px; }
}

button, input, optgroup, select, textarea {
  margin: 0;
  font: initial;
  color: initial;
}

form {
  margin-top: 0px;
  font-size: 0.7em;

}

.paypal-button {
  height: 75px;
  }

.page-home {
  div div  div {
    margin-bottom: 7px;
  }
}

.quotes {
  blockquote {
    font-size: 1.4em;
    color: purple;
  }
}
*/

/*# sourceMappingURL=site.css.map */