@import "mixins/flexbox";

// required for correct flexbox layout
html, body {
    width: 100%;
    height: 100%;
}

.flexbox-order-1 { @include flexbox-flow-order(1); }
.flexbox-order-2 { @include flexbox-flow-order(2); }
.flexbox-order-3 { @include flexbox-flow-order(3); }
.flexbox-order-4 { @include flexbox-flow-order(4); }

.flexbox-flex-display {
    @include flexbox-flex-display;
}

.flexbox-main-wrapper {
    height: 100%;
}

.flexbox-fixed {
    @include flexbox-flex(0);
}

.flexbox-container-column {
    @include flexbox-flex-display;              // display: flex;
    @include flexbox-direction-columns; // flex-direction: column;
    @include flexbox-nowrap;
    //@include flexbox-flex(1);
    min-height: 0px;
}
.flexbox-scrolling-column {
    @include flexbox-scrolling-column;
}

.flexbox-container-row {
    @include flexbox-flex-display;
    @include flexbox-direction-rows;
    @include flexbox-flex-grow(1);
    min-height: 0px;
}
.flexbox-main-row {
} 

.flexbox-left-gutter,
.flexbox-right-gutter {
    @include flexbox-fixed-size-element(200px);
}

header, footer {
    @include flexbox-fixed-size-element;
} 

.flexbox-content-fill-horizontal {
    @include flexbox-flex-display;
    @include flexbox-flex-grow(10);
}

.flexbox-content-fill-vertical {
    @include flexbox-flex-display;
    @include flexbox-flex-grow(10);
}
.flexbox-content-fixed-size {
    @include flexbox-fixed-size-element;
}

.flexbox-center-items {
    @include flexbox-justify-content(center);
}

.flexbox-left-center-right-items {
    @include flexbox-justify-content(space-between);
}
.flexbox-space-around-items {
    @include flexbox-justify-content(space-around);
}

.flexbox-left-justify-items {
    @include flexbox-justify-content(flex-start);
}

.flexbox-right-justify-items {
    @include flexbox-justify-content(flex-end);
}

.flexbox-shove-to-right-edge {
    margin-left: auto;
}

.flexbox-basis-50 {
    @include flexbox-flex-basis(50%);
}

.flexbox-flex-wrap {
    @include flexbox-flex-wrap(wrap);
}

.flexbox-hide-when-wrapped {
    height: 1em;
    max-height: 1em;
    @include flexbox-flex-wrap(wrap);
    overflow: hidden;
}

.flexbox-align-items-center {
    @include flexbox-align-items(center);
}
