  <div class="flexbox-container-column flexbox-align-items-center">
    <span class="book-title large-text">About Laurie Hanson</span>
  </div>

  <div class="photo-text flexbox-container-column">

    <p class="photo">
      Laurie Hanson has loved and owned dogs her entire life.  She has shown dogs all over the US and Canada.
    </p>

    <p class="photo">
      <img src="assets/img/5186_95142022855_4845894_n.jpg" />
      Laurie wanted to capture the joy and happiness that Treasure brought to her family.  A book was the perfect medium; and having Treasure be the focus of the story allows
      the enthusiasm that Treasure felt every day to come through.  You can tell that Treasure wasn't just a dog; she was a teammate; a great friend and a joy to live with.
    </p>
    <p class="photo">
      <img src="assets/img/20150808_185250.jpg" />
      She and her Siberian Huskies and Golden
      Retrievers have participated in obedience, agility, lure
      coursing, therapy dog work, sled dog racing,
      conformation showing, and tracking events.</p>

    <p class="photo">
      <img src="assets/img/20140520_192932.jpg" />
      Laurie has been active in various All Breed Kennel Clubs and Breed Clubs, having served in various leadership roles over the years.  She has been active in 4-H, training young dog owners in
      Rally, Agility and Obedience.  She's also been a judge both at the local county level and at the state level.
    </p>

    <p class="photo">
      <img src="assets/img/Scan.bmp.jpg" />
      In her free time she enjoys
      reading and running. She recently qualified for the
      Boston Marathon.</p>


    <p class="photo">
      <img src="assets/img/1240445_10151982700497856_619320026_n.jpg" />
      Laurie and her husband live in Ramsey, Minnesota.  They have two children. Treasure was especially loved by their daughter.</p>

    <p class="photo">
      <img src="assets/img/20140520_192932.jpg" />
      She currently has three Golden Retrievers who are all related to Treasure.</p>

    <p class="photo">
      <img src="assets/img/735633_507507272623239_74297125_o.jpg" />
      <span>Treasure was born on her birthday!!!</span>
    </p>



  </div>
