.winner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  img {
    width: 10%;
  }
}

.quotes {
  width: 80%;
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: #faebbc;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  margin: 5px;
  text-align: center;

  blockquote {
    font-size: 1.2em;
    quotes: "\201C""\201D""\2018""\2019";

    &:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    &:after {
      color: #ccc;
      content: close-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
  }
}

.spacing {
  margin-top: 80px;
}
