@import "_variables";
@mixin layout-margins { margin: 0px 0px; }
@mixin header-padding { padding: 0px 0px 0px 0px; }
@mixin main-padding { }
@mixin footer-padding { }

/////////////////////////////////////////////////////////////////////////////
// Flexbox layout
/////////////////////////////////////////////////////////////////////////////
html {
  // for Safari, to prevent the "bounce effect" http://stackoverflow.com/questions/7768269/ipad-safari-disable-scrolling-and-bounce-effect
  position: fixed;

  // for Safari, prevent the font size from zooming when rotate from portrait to landscape (http://stackoverflow.com/questions/2710764/preserve-html-font-size-when-iphone-orientation-changes-from-portrait-to-landsca)
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body, app-root, app-root > div {
    //min-height: 100vh;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
  padding:0;
  margin:0;
  font-family: 'Roboto', 'Lora', 'Times New Roman', sans-serif;
  font-size: 20px;
  color: #333333;
  background-color: $body-background-color;
}

app-root > div {
  border: solid red 3px;
  display: flex;
  flex-direction: row;
}

app-nav {
  display:flex;
  flex-grow: 0;
  max-width:300px;
  overflow-y: auto;
  background-color: $nav-background-color;
}


