
  <div class="flexbox-container-column flexbox-align-items-center">
    <span class="book-title large-text">News and Events</span>
  </div>

  <div class="newsevents photo-text flexbox-container-column">

    <p>Laurie visited Ramsey School in June, reading her book to 9 elementary school classrooms.  A grant from the Ramsey Lions allowed her to donate a copy of Treasure's Gift to each classroom.  </p>
    <p>She was at the Canine Carnival in April.  This is at the Wildlife Science Center in Forest Lake, MN.  We got to meet a lot of dog owners and many of them went home with Treasure's Gift.</p>
    <p>We will be having a "Christmas in July" sale -- look for it!</p>
    <p>
      <span>Laurie will be at Goldzilla, an event for Golden Retriever lovers, on September 10th.  All sales go to benefit <a href="http://goldzilla.ragom.org">RAGOM</a>, the Retrieve A Golden of Minnesota.  Buy 2 books and save $2.00!  </span>
    </p>
  </div>
