
  <div class="flexbox-container-column flexbox-align-items-center">
    <span class="book-title large-text">News and Events</span>
  </div>

  <div class="newsevents photo-text flexbox-container-column">
    <p>
      <span>Treasure's Gift is in the paper!  Read the article in the <a href="http://abcnewspapers.com/2017/07/07/beloved-ramsey-pet-lives-on-in-childrens-book/">Anoka County Union</a>.</span>
    </p>

    <p>
      <span>Laurie will be at Goldzilla, an event for Golden Retriever lovers, on September 10th.  All sales go to benefit <a href="http://goldzilla.ragom.org">RAGOM</a>, the Retrieve A Golden of Minnesota.  Buy 2 books and save $2.00!  </span>
    </p>
  </div>
