  <h1>Programs</h1>
  <p>If you are a teacher or librarian located in the 7 county metro area (surrounding Minneapolis and St. Paul), Laurie can present a program to your students.</p>
    <p>These programs are offered at no cost, with the purchase of one or more books.  Elementary school programs are about1/2 hour long, and Middle School/High School programs are about one period long.</p>

  <app-contact></app-contact>

  <h2>Elementary School Programs</h2>
  <ul>
    <li><span>Author visit:</span> Author reads the book to the class.  Read the book, then talk about the book.  What everyone liked, what it's like to have to move, how do you make new friends.</li>
    <li><span>Read to the dog:</span> My Golden Retriever, Karma, is a registered therapy dog (through TDI International).  Students can read "Treasure's Gift" or other books to the dog, in a group or one-on-one.</li>
    <li><span>Dog behavior:</span> what is good behavior in a dog, how to do (simple) tricks with a dog, how to take care of a dog.</li>
    <li><span>How to write a book:</span>  writing the story, how the book is illustrated, and how the book is put together.  I'll have copies of my original story, some of the paintings by the illustrator, and talk about the various people involved.</li>
  </ul>

  <h2>Middle School/High School Programs</h2>
  <ul>
    <li><span>Author program:</span> How to write a book:  writing the story, how the book is illustrated, and how the book is put together.  I'll have copies of my original story, some of the paintings by the illustrator, and talk about the various people involved.</li>
    <li><span>Business focus:</span> The business of writing a children's book.  Discuss costs, process, finding a publisher, marketing your book</li>
    <li><span>Content focus:</span> themes, tense, conflict/resolution in childrens books.</li>
  </ul>

  <h2>Other ideas?</h2>
  <ul>
    <li><span>Custom program</span>: Give me an idea!  For example, Karen Sherga at Coon Rapids High School is using Treasure's Gift to discuss empathy with her Child and Human Development students.</li>
  </ul>

  <h1>Links</h1>

  <table>
    <tr class="link"><td>The Amazon.com page for "Treasure's Gift</td><td><a href="https://www.amazon.com/Treasures-Gift-Laurie-Hanson/dp/1592986234">https://www.amazon.com/Treasures-Gift-Laurie-Hanson/dp/1592986234</a></td></tr>
    <tr class="link"><td>Therapy Dogs -- Reading to Dogs Program</td><td><a href="http://www.tdi-dog.org/OurPrograms.aspx?Page=Children+Reading+to+Dogs">http://www.tdi-dog.org/OurPrograms.aspx?Page=Children+Reading+to+Dogs</a></td></tr>
    <tr class="link"><td>Purple Dragonfly award winners for 2017</td><td><a href="https://www.dragonflybookawards.com/purple-dragonfly-contest-winners/#2017-purple-dragonfly-winners">https://www.dragonflybookawards.com/purple-dragonfly-contest-winners</a></td></tr>
    <tr><td></td></tr>
    <tr class="link"><td>Carver County Library link for Treasure's Gift</td><td><a href="http://libraryapp.carverlib.org/search~S10?/XTreasure%27s%20Gift&SORT=D/XTreasure%27s%20Gift&SORT=D&SUBKEY=Treasure%27s+Gift/1%2C3%2C3%2CB/frameset&FF=XTreasure%27s%20Gift&SORT=D&1%2C1%2C">link</a></td></tr>
    <tr class="link"><td>Anoka County Library link for Treasure's Gift</td><td><a href="https://anok.ent.sirsi.net/client/en_US/default/search/results/?ln=en_US&q=Treasure%27s+Gift&x=0&y=0&rw=0">link</a></td></tr>
  </table>
