
  <div class="maf flexbox-container-row">

    <div class="graphic thermo">
      <app-thermo [height]="400" max=1000 steps=4 format="$[[val]]" value="300" ></app-thermo>
      <div class="thermo-date">(as of July 1st)</div>
    </div>
    <div>
      <div class="maf-image"></div>

      <div class="title">The Morris Animal Foundation</div>
      <div class="title">Golden Retriever Lifetime Study</div>
      <p>You help Laurie support the Golden Retriever Lifetime Study each time you buy a book.  One dollar of each sale
        goes to the Morris Animal Foundation.  Thanks to Golden lovers everywhere, we have already donated our first $250.00!
      </p>
      <p>We have a goal to send our next $250.00 check by the end of April.  Take advantage of our spring sale!
      </p>

      <p>
      <span>You can help:</span>
      </p>
      <ul>
        <li>Buy a book for yourself; or for someone you know.</li>
        <li>Donate one to your dog club or event.</li>
        <li>Give one to your local public library.</li>
        <li>Bring one to a children's hospital.</li>
      </ul>

      <p>The Golden Retriever Lifetime Study seeks to find genetic and environmental causes of cancer in dogs.  Golden Retrievers
        are especially susceptible to cancer.  3000 Golden Retrievers are enrolled in the study.  Each year, the owners submit a detailed
        report, including a veteranarian's examination.  This program is expensive, and relies on donations and supporters to keep
        it going.</p>
      <p>Laurie's Golden Retriever, Karma, is one of the dogs enrolled in the study.</p>
    </div>
  </div>
