$dragonfly-color:  #98499c;

$body-background-color: #99BE9C;
$nav-background-color: darken($body-background-color, 10%);
$nav-color: black;
$nav-hover-color: silver;
$nav-arrow-width: 1em;
$nav-action-color: lighten($nav-background-color, 20%);

$nav-button-background-color: darken($body-background-color, 15%);
$nav-button-background-color2: darken($body-background-color, 20%);
$nav-button-border-color: black;
