
  <div class="flexbox-container-column flexbox-align-items-center">
    <span class="book-title large-text">About Treasure's Gift</span>
  </div>

  <div class="photo-text flexbox-container-column">

    <p>
                    <span>
                        Treasure's Gift was produced and printed by Beaver's Pond Press, a publisher with more than 900 titles designed, produced and printed.
                    </span>
    </p>


    <p>
                    <span>
                        The book is professional quality, with a hard cover and thick, sturdy pages.  The pictures on each page were professionally designed and painted by the illustrator, Darcy Bell-Meyer.  The book is a chapter book, and 38 pages long.
                    </span>
    </p>


    <p class="photo left">
      <img src="assets/img/LaurieAndBook.jpg" />
      <span>Laurie with Treasure's Gift, in front of the publisher, Beaver's Pond Press.</span>
    </p>

    <p class="photo larger">
      <img src="assets/img/BookPages.jpg" />
      <span>Here is a photo of a couple of the pages in the book.</span>
    </p>
  </div>
