  <div class="cover-image flexbox-container-row flexbox-center-items">
    <img src="assets/img/bookcover.jpg"/>
    <span class="dragonfly-award">
                <div class="dragonfly-color">Winner, 2017</div>
                <img src="assets/img/PurpleDragonflyLogo.png"/>
            </span>
  </div>
  <div class="flexbox-container-column flexbox-align-items-center">
    <h3 class="post-subtitle">
      <span class="book-title">"Treasure's Gift"</span>, a moving story about a Golden Retriever and her best friend.
    </h3>

    <div>Treasure and her best friend, Annie, get some sad news -- Annie's family is moving.  Annie is worried that she won't have any friends in the new neighborhood, and
      her birthday is only two weeks away!  But Treasure has a plan.  Can Treasure help Annie make new friends?
    </div>

    <div class="winner">
      <img src="assets/img/PurpleDragonflyLogo.png"/>
      <span>Treasure's Gift is a 2017 winner of the Purple Dragonfly Award for Best Children's Book in the Animal/Pet category.</span>
    </div>

    <div class="quotes">
      <blockquote>What a delightful, and sure to be helpful, book for children feeling the stress of moving to a new neighborhood.</blockquote>
      <span>Sharon Anderson, Emeritus Director of Agility for the American Kennel Club</span>
    </div>

    <div class="quotes">
      <blockquote>What a wonderful book! We gave to a lovely, and lively, little girl on Christmas Eve. She sat still on her grandma's lap and insisted that Grandma read it over and over. She simply loved it!</blockquote>
    </div>
    <div class="quotes">
      <blockquote>I gave this book to the children of 3 of my friends and they all said it was the "best gift ever!" Parents loved it too! and said the children keep reading it over and over</blockquote>
    </div>
  </div>
  <div class="flexbox-container-column flexbox-align-items-center">
    <div class="nav-buy nav-buy-standalone">
      <h2 class="post-title">Order your copy!</h2>
      <div ng-include="'PaypalButton.html'"></div>
    </div>
  </div>
