  <div class="cover-image flexbox-container-row flexbox-center-items">
    <img src="assets/img/bookcover.jpg"/>
    <span class="dragonfly-award">
      <div>
        <div class="dragonfly-color">Winner, 2017</div>
        <img src="assets/img/PurpleDragonflyLogo.png"/>
      </div>
      <div>
        <a routerLink="/Paypal">
          <button class="paypalbutton paybutton" value="PayPal">
            <div class="navbar-brand">Buy Treasure's Gift</div>
            <div class="navbar-brand">$10.95 plus shipping</div>
          </button>
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="7WRU8K4D58PBQ">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" style="display:none">
        </a>
      </div>
    </span>
  </div>

  <div class="flexbox-container-column flexbox-align-items-center">
    <h3 class="post-subtitle">
      <span class="book-title">"Treasure's Gift"</span>, a moving story about a Golden Retriever and her best friend.
    </h3>

    <div>Treasure and her best friend, Annie, get some sad news -- Annie's family is moving.  Annie is worried that she won't have any friends in the new neighborhood, and
      her birthday is only two weeks away!  But Treasure has a plan.  Can Treasure help Annie make new friends?
    </div>

    <div class="winner">
      <img src="assets/img/PurpleDragonflyLogo.png"/>
      <span>Treasure's Gift is a 2017 winner of the Purple Dragonfly Award for Best Children's Book in the Animal/Pet category.</span>
    </div>

    <div class="quotes">
      <blockquote>What a delightful, and sure to be helpful, book for children feeling the stress of moving to a new neighborhood.</blockquote>
      <span>Sharon Anderson, Emeritus Director of Agility for the American Kennel Club</span>
    </div>

    <div class="quotes">
      <blockquote>What a wonderful book! We gave to a lovely, and lively, little girl on Christmas Eve. She sat still on her grandma's lap and insisted that Grandma read it over and over. She simply loved it!</blockquote>
    </div>
  </div>
  <div class="flexbox-container-column flexbox-align-items-center">
     <div class="nav-buy nav-buy-standalone">
       <a routerLink="/Paypal">
         <button class="paypalbutton paybutton" value="PayPal">
           <div class="navbar-brand">Order Your Copy</div>
           <div class="navbar-brand">$10.95 plus shipping</div>
         </button>
         <input type="hidden" name="cmd" value="_s-xclick">
         <input type="hidden" name="hosted_button_id" value="7WRU8K4D58PBQ">
         <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" style="display:none">
       </a>
      </div>

    <p class="spacing flexbox-container-column flexbox-align-items-center photo larger">
      <img src="assets/img/BookPages.jpg" />
    </p>

    <a routerLink="/Paypal">
      <button class="paypalbutton paybutton" value="PayPal">
        <div class="navbar-brand">Buy Treasure's Gift</div>
        <div class="navbar-brand">$10.95 plus shipping</div>
      </button>
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="7WRU8K4D58PBQ">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" style="display:none">
    </a>

  </div>

  <div class="spacing flexbox-container-column flexbox-align-items-center">
  <div class="quotes">
    <blockquote>I gave this book to the children of 3 of my friends and they all said it was the "best gift ever!" Parents loved it too! and said the children keep reading it over and over</blockquote>
  </div>
  </div>

  <div class="flexbox-container-column flexbox-align-items-center">
    <div class="nav-buy nav-buy-standalone">
      <a routerLink="/Paypal">
        <button class="paypalbutton paybutton" value="PayPal">
          <div class="navbar-brand">Treasure's Gift makes a great gift for grandchildren, nieces, and teachers!</div>
          <div class="navbar-brand">$10.95 plus shipping</div>
        </button>
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="7WRU8K4D58PBQ">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" style="display:none">
      </a>
    </div>

  </div>
