<div class="photo-text flexbox-container-column">
  <p class="photo left">
  <img src="assets/img/bookcover.jpg"/>
  <span class="thankyou">Thank you for deciding to purchase <span class="book-title">"Treasure's Gift"</span>.</span>
  </p>
</div>


<div class="photo-text flexbox-container-column">
  <p class="photo left">
  <img src="assets/img/paypal.png"/>
  <span>On the next page, you will be directed to Paypal to complete your purchase.  On that page, you can
  <ul>
  <li>Select the number of copies</li>
  <li>Pay with a credit or debit card</li>
  <li>Pay with your checking/savings account</li>
  </ul>
  </span>
  </p>
  <form class="photo left"form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <!-- PayPal Logo -->
      <button class="paybutton"  type="submit">
        Buy with Paypal
      </button>
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="7WRU8K4D58PBQ">
      <input type="hidden" name="return" url="LaurieHansonBooks.com/PaypalAfterPurchase">
      <input type="hidden" name="cancel" value="LaurieHansonBooks.com">
  </form>
</div>

<div class="photo-text flexbox-container-column">
  <p class="photo left">
  <span>After you place your order, you'll be able to tell Laurie how to sign each book, with a personalized special greeting from the author.
  </span>
  </p>
</div>

<div class="photo-text flexbox-container-column">
  <p class="photo left">
<span>We use Paypal as our payment processor, so you don't have to give us your payment information.  Your payment information
stays safe with Paypal, and we just get a notification of your purchase.</span>
  </p>
</div>
